---
import { type Playlist } from "@/lib/data";
import { CardPlayButton } from "./CardPlayButton";

interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;

const { id, cover, title, artists, color } = playlist;

const artistString = artists.join(", ");
---

<article
  class="group relative cursor-pointer hover:bg-zinc-800 shadow-lg hover:shadow-xl bg-zinc-500/30 rounded-md transition-all duration-300"
>
  <div
    class=`absolute right-5 bottom-16 translate-y-11
  transition-all duration-500 opacity-0
  group-hover:translate-y-0 group-hover:opacity-100
  z-10`
  >
    <CardPlayButton id={id} client:visible />
  </div>
  <div
    class=`absolute left-3 bottom-16 translate-y-12 font-extrabold
  transition-all duration-500 opacity-100 group-hover:translate-y-14
  group-hover:opacity-0 
  z-10`
  >
    <span>{title}</span>
  </div>
  <a
    href={`/playlist/${id}`}
    class="playlist-item transition-all duration-300 flex relative overflow-hidden
  gap-2 pb-6 group-hover:w-44 flex-col
  w-56 h-56"
    transition:name=`playlist ${id} box`
  >
    <picture class="aspect-square w-full h-auto flex-none p-2">
      <img
        src={cover}
        alt={`Cover of ${title} by ${artistString}`}
        class="object-cover w-full h-full rounded-md"
        transition:name=`playlist ${id} image`
      />
    </picture>

    <div class="flex flex-auto flex-col px-2">
      <h4 class="text-white text-sm" transition:name=`playlist ${id} title`>
        {title}
      </h4>
      <span
        class="text-xs text-gray-400"
        transition:name=`playlist ${id} artists`
      >
        {artistString}
      </span>
    </div>
  </a>
</article>
