---
import type { Playlist } from "@/lib/data";

interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;

const { id, cover, title, artists, color } = playlist;

const artistString = artists.join(", ");
---

<div class="hover:text-lg">
  <a
    href={`/playlist/${id}`}
    class="playlist-item flex relative p-2 overflow-hidden items-center gap-5 rounded-md transition duration-700 hover:bg-zinc-800 hover:drop-shadow-xl"
  >
    <picture
      class="h-12 w-12 flex-none transition duration-1000 hover:h-24 hover:w-24"
    >
      <img
        src={cover}
        alt={`Cover of ${title} by ${artistString}`}
        class="object-cover w-full h-full rounded-md"
      />
    </picture>

    <div class="flex flex-auto flex-col truncate">
      <h4 class="text-white text-sm">{title}</h4>
      <span class="text-xs text-gray-400">
        {artistString}
      </span>
    </div>
  </a>
</div>
